body {
  transform: scale(0.65);
  transform-origin: top left;
  width: 153.846%; /* (1 / 0.75) = 133.33% to maintain original content size */
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: white;
  background: #F2E8cf;
  overflow-x: hidden;
}
      
h1 {
  font-size: 4rem;
  text-align: center; /* Center align the heading */
  max-width: 800px; /* Limit the maximum width of the heading */
  margin: 0 auto; /* Center the heading horizontally */
  max-width: 100%;
  color: #292929;
}

p {
  font-size: 1.5rem;
  text-align: left; /* Center align the paragraphs */
  max-width: 1200px; /* Limit the maximum width of the paragraphs */
  margin: 0 auto; /* Center the paragraphs horizontally */
}

header {
  background-color: #292929;
  padding: 10px;
  color: #fff;
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
}

li {
  display: inline;
  margin-right: 10px;
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

.larger-image {
  width: 85%;
  height: 350px;
}

.image-bottom {
  margin-bottom: 250px;
}

.banner {
  width: 100%;
  height: 85%;
  margin-bottom: 250px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 450px;
    padding-top: 100px;
}

.short_section {
    height: 20px;
}

.paragraph-spacing {
  margin-bottom: 55px; /* Adjust the value as per your desired spacing */
}

.header-spacing {
  margin-bottom: 55px;
  max-width: 100%;
}

.center-paragraph {
  text-align: center;
}

.longer-section {
  min-height: 550px;
  margin-top: 15px;
}

.tbl-section {
  max-height: 1650px;
}

.banner-section {
  background-color: #6a994e;
  height: 200px;
  width: 350vw; /* Set the width to 100% of the viewport width */
  margin-top: -100px; /* Adjust the negative margin to increase the top size */
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
}

.small-banner-section {
  background-color: #386641;
  height: 100px;
  width: 350vw; /* Set the width to 100% of the viewport width */
  margin-top: 250px; /* Adjust the negative margin to increase the top size */
  margin-bottom: 20px;
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
}

.title-banner-section {
  background-color: #A7c957;
  height: 100px;
  width: 350vw; /* Set the width to 100% of the viewport width */
  margin-top: 10px; /* Adjust the negative margin to increase the top size */
  margin-bottom: 20px;
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
}


.brown-banner-section {
  background-color: #936639;
  height: 150px;
  width: 350vw; /* Set the width to 100% of the viewport width */
  margin-top: 20px; /* Adjust the negative margin to increase the top size */
  margin-bottom: 20px;
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  text-align: center;
}

.bottom-layer1 {
  background-image: url('./layered-peaks-haikei.svg');
}

.center-container {
  position: relative; /* Position the container relative to its normal position */
  display: flex;
  margin-top: 450px;
  justify-content: center;
  z-index: 1; /* Ensure the boxes are on top */
}

.box {
  position: relative; /* Position the boxes relative to the container */
  height: 550px; /* Adjust height as needed */
  width: 380px; /* Adjust width as needed */
  background-color: #A7c957; /* Change background color */
  padding: 80px; /* Add padding inside the boxes */
  margin: 5px; /* Add margin for spacing between boxes */
  z-index: 2; /* Ensure the boxes are on top of the green box */
  border-radius: 25px;
}

.box p {
  font-weight: bold; /* Make the text bold */
  font-size: 30px; /* Increase the text size */
  color: #292929;
}

.big-green-box {
  position: absolute; /* Position the green box absolutely within the container */
  top: 250px; /* Move the green box down by 50 pixels */
  left: 50%; /* Position it halfway across the container */
  transform: translateX(-50%); /* Center it horizontally */
  height: 1750px; /* Adjust height as needed */
  width: 100%; /* Stretch across the container */
  background-color: #6a994e; /* Change to the desired green color */
  z-index: 1; /* Set the green box behind the boxes */
}

.up:nth-child(odd) {
  align-self: flex-end; /* Align odd-numbered boxes to flex-end */
  margin-bottom: 85px;
}

.down:nth-child(even) {
  align-self: flex-start; /* Align even-numbered boxes to flex-start */
  margin-top: 85px;
}